body {
  margin: 0;
  font-family: "happy-times-NG_regular_master_web";
  overflow-x: hidden;
}
@font-face {
font-family: "happy-times-NG_regular_master_web";
  src: url("happy-times-NG_regular_master_web.ttf") format('ttf'),
       url("happy-times-NG_regular_master_web.woff")  format('woff'),
       url("happy-times-NG_regular_master_web.woff2")  format('woff2');
  font-weight:normal;
  font-display:swap;
}
img {
  align-self: center;
  max-width: 100%;
  height: auto;
}
.parent,.child, header, nav, #bg, .internalchild, .internalchild2 {
  display: flex;
  flex-direction: column;
}
.internalparent {
  display: flex;
  flex-direction: row;
  backface-visibility: hidden;
  will-change: overflow;
  overflow: hidden;
  height:100vh
}
.internalchild {
  width: 35vw;
  margin: 0 2.5vw;
  padding: 0 2vw;
  background-color: white;
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.internalchild2 {
  width: 65vw;
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.internalchild3 {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.internalchild3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}
.internalchild3 div p, .internalchild3 p {
  background: white;
  margin: 0 15vw 2vh;
  padding: 4vh 2vw;
  width: 66vw;
}
.internalchild3 div img {
  margin:10vh 15vw 0;
  max-height: 80vh;
}
.internalchild3 h2 {
  background-color: white;
  padding: 2vh 5vw
}
.parent, header, nav, #bg {
  align-items: center;
  text-align: center;
  justify-content: center;
}
header {
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  margin: 0;
  padding:0
}
header .flexrow {
  padding-top:2vh;
}
nav {
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  flex-wrap: wrap;
}
nav a {
  margin: 0 2vw;
}
.parent, .internalparent {
  width: 100vw;
  max-width: 100%;
  background-color: black
}
.title {
  background-color: white;
}
.child {
  width:40vw;
  padding: 5vh 5vw;
  background-color: white
}
.child p, .internalchild p, .internalchild2 p{
  text-align: left;
}
.bodycopy {
  width: 30vw
}
.flexrow {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  margin:0;
  justify-content: center;
}
#mobile {display: none;}
#title {
  margin-left:5vw;
  width:60vw;
}
#block1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#block1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#qmark {
  width:4vw;
}

#rainbow {
  width: 100vw;
}

#img1 img{
  margin: 0 1vw;
}
#abt {
  background-image: url("abtbg.jpg");
  background-size: contain;
}
#cnt {
  background-image: url("bg2.jpg");
  background-size: contain;
}
#bg1 {
  background-image: url("bgs/sky1.gif");
  background-size: cover;
}
.bg1 {
  background-image: url("bgs/sky1.gif");
}
#bg2,.bg2 {
  background-image: url("bgs/sky4.gif");
}
#bg3,.bg3 {
  background-image: url("bgs/sky5.gif");
}
#bg4,.bg4 {
  background-image: url("bgs/sky6.gif");
}
#bg5,.bg5 {
  background-image: url("bgs/sky7.gif");
}
#bg6,.bg6 {
  background-image: url("bgs/sky8.gif");
}
#bg7, .bg7 {
  background-image: url("bgs/sky9.gif");
}
#bg8, .bg8 {
  background-image: url("bgs/sky10.gif");
}
.bgn img {
margin: 10vh 8vw;
max-width:80vw
}
.internalchild2 .bgn {
  margin:5vh 5vw;
  max-width: 80%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
}

button {
  position: fixed;
  left: 0;
  bottom:0;
}

marquee {
  background-color:#009933;
  color:white;
}
marquee h4 {
  margin: 1vh 0
}

.marquee {
  height: 4vh;
  width: 100vw;

  overflow: hidden;
  position: relative;
  background-color:orange

}

.marquee div {
  display: block;
  width: 400%;
  padding-top:.5vh;

  position: absolute;
  overflow: hidden;

  animation: marquee 30s linear infinite;
}

.marquee span {
  float: left;
  width: 100%;
}

@keyframes marquee {
  0% { left: 100%; }
  100% { left: -400%; }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33cc33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
}

iframe {
  width:60vw;
  height:40vh
}

@media all and (max-width:768px){
  .child {
    width:70vw;
  }
}

@media all and (max-width:500px) {
  .internalparent {
    flex-direction:column;
  }
  .internalchild, .internalchild2 {
    width: 100vw;
    margin:0;
    padding: 0;
    height:50vh
  }
  .internalchild p{
    margin: 2vh 5vw;
  }
  .child {
    width:80vw;
  }
  .ball {width:10vw;}
  #mobile {
    width: 100vw;
    text-align: center;
    color: green;
    background-color: yellow;
    padding:2vh 0;
    display: block;
  }
  #mobile h3 {
    margin: 0;
  }
}
